<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1">

	<title>
		{% if let Some(title) = title %}
			{{ title }}
		{% else %}
			Homepage
		{% endif %}
	</title>

	{{ theme }}

	<style>
		body {
			background: var(--base);
			color: var(--text);
		}

		a {
			color: var(--link);
		}

		footer {
			position: fixed;
			bottom: 0;
			width: 100%;
			text-align: center;
		}
	</style>
</head>

<body>

	<section id=bookmarks-section>
		{% for bookmark in bookmarks %}
			<div class="bookmark" id="{{bookmark.id}}">
				<a href="{{bookmark.link}}">{{bookmark.name}}</a>
			</div>

			{% if !bookmark.shortcut.is_empty() %}
				<script>
					function handleShortcut(event) {
						if (event.key === "{{bookmark.shortcut}}") {
							event.preventDefault();
							window.open("{{bookmark.link}}")
						}
					}

					document.addEventListener("keydown", handleShortcut);
				</script>
			{% endif %}
		{% endfor %}
	</section>

	{% if footer %}
		<footer>
			<p><small>Made with <a href="https://github.com/ArkhamCookie/RustyPage">RustyPage</a>.</small></p>
		</footer>
	{% endif %}
</body>

</html>
