name: Rust Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # Build application
    - uses: actions/checkout@v6
    - name: Build
      run: cargo build --verbose

    # Run cargo tests
    - name: Run tests
      run: cargo test --verbose
